<!DOCTYPE html>
<html>
    <head>
        <title>Name A Tree</title>
        
        <meta charset="UTF-8">
        <meta name="description" content="Name A Tree!">
        <meta name="keywords" content="Name A Tree, Computation Arts">
        <meta name="author" content="Seva Ivanov">
        <meta name="author" content="Laura H">
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>


        {% load static %}
        {% get_static_prefix as STATIC %}
        
        {% load staticfiles %}    
        <link rel="stylesheet" href="{{ STATIC }}frontend/css/base.css"/>

        <link rel="stylesheet" type="text/css" href="{{ STATIC }}frontend/libs/semantic/semantic.css">
        <!--<script src="{{ STATIC }}semantic/semantic.min.js"></script>-->

        <script type="text/javascript">
            montrealLatitude = 45.5088400;
            montrealLongitude = -73.5878100;
        </script>
    </head>
    <body>    
        <div id="header">
            <a id="first" href="/"><i class="home icon"></i>Name A Tree</a>
            <a href="/map/"><i class="map icon"></i>Map</a>
            <a href="/create/"><i class="file text icon"></i>Create</a>
            <a href="/info/"><i class="feed icon"></i>Information</a>
        </div>

        <div id="container">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">

        </div>    
    </body>
</html>
