<!DOCTYPE html>
<html>
    <head>
        <title>Name A Tree</title>
        
        <meta charset="UTF-8">
        <meta name="description" content="Name A Tree!">
        <meta name="keywords" content="Name A Tree, Computation Arts">
        <meta name="author" content="Seva Ivanov">
        <meta name="author" content="Laura H">
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>

        {% load static %}
        {% get_static_prefix as STATIC %}
        
        {% load staticfiles %}    
        <link rel="stylesheet" href="{{ STATIC }}frontend/css/base.css"/>
    </head>
    <body>    
        <div id="header">
            <a href="/">Name A Tree<a>
            <a href="map/">Map</a>
            <a href="create/">Create</a>
            <a href="info">Information</a>
        </div>

        {% block content %}
        {% endblock %}

        <div id="footer">

        </div>    
    </body>
</html>
