{% extends "frontend/base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ STATIC }}frontend/css/create.css"/>

    <script src="{{ STATIC }}frontend/libs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?libraries=places'></script>
    <script src="{{ STATIC }}frontend/libs/locationpicker.jquery.js"></script>

    <script src="{{ STATIC }}frontend/libs/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC }}frontend/libs/sweetalert.css">

        <article id="main">
        <h1><b><font size="20">CREATE</font></b></h1>
        </article>


    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#locationPicker').locationpicker({
                location: {latitude: montrealLatitude, longitude: montrealLongitude},
                radius: 5
            });
            $('#create').click(function()
            {
                var name = $('#name').val(),
                    memory = $('#memory').val(),
                    map = $('#locationPicker').locationpicker('map'),
                    location = {
                        "latitude": map.location.latitude,
                        "longitude": map.location.longitude
                    };

                // mark empty fields with red
                if(name == ""){$('#nameParent').addClass("error");}
                else{$('#nameParent').removeClass("error");}
                if(memory == ""){$('#memoryParent').addClass("error");}
                else{$('#memoryParent').removeClass("error");}

                if((name == "") || (memory == "")){
                    sweetAlert("Incomplete Form!",
                        "You have to fill all of the required fields.", "error");
                    return;
                }
                
                // TODO: add to dict: csrfmiddlewaretoken: "{{ csrf_token }}"
                var data = {"name": name, "memory": memory, "location": location};
                $.post( "/create/", data);
                // TODO: check why render fails in django
                window.location.href='/map/';
            })
            $('#cancel').click(function()
            {
                window.location.href='/';
            })
        });
    </script>

    <div id="wrapper">
        <div id="left">
            <div class="ui form">
                <div id="nameParent" class="field">
                    <label>Name:</label>
                    <input id="name" placeholder="Peter, Jack, Alice..." type="text">
                </div>
                <div id="memoryParent" class="field">
                    <label>Share a memory!</label>
                    <textarea id="memory"></textarea>
                </div>
            </div>
            <button id="create" class="ui secondary button" style="margin-right: 0.3em;">
                Create
            </button>
            <button id="cancel" class="ui button">
                Cancel
            </button>
        </div>
        <div id="right" class="ui form">
            <div class="field">
                <label>Locate it:</label>
            </div>
            <!-- Won't work inside form -->
            <div id="locationPicker"></div>
        </div>
    </div>

{% endblock %}