{% extends "frontend/base.html" %}

{% block content %}

	{% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC }}frontend/css/home.css"/>

	<style>
		/*#content
		{
			background: green;
			position: 
		}*/

				h1 
				{
					text-align: center;
					font-size: 70px;
					font-weight: 30px;
				}

				p
				{
					text-align: center;
					font-size: 20px;
				}


				h3 
				{
					text-align:left;
					font-size: 30px;
				}

				i
				{

				}

			#container
			{
				width: 100%;
				height: 100%;
				background: #60D966;
			}

			#main {
				width:75%;
				max-width: 750px;
				margin-right: auto;
				margin-left: auto;
				margin-top: 70px;
				margin-bottom: -30px;

			}

                #main i, #main h1
                {
                    display: inline-block;
                }
                #main i
                {
                    margin-top: -0.7em;
                }

			#about {
				width:75%;
				max-width: 750px;
				margin-right: auto;
				margin-left: auto;
				margin-top: 70px;
				margin-bottom: -30px;

			}

			#explore
			{
    			width: 100%;
   				height: 69%;
				margin-top: 10%;
				background: purple;
			}

				#explore #right
				{
	   				 right: 0;
	   				 width: 50%;
	   				 height: 100%;
	    			 background-color: #b0e0e6;
				}

					#explore #right p 
					{
						color: black;
						text-align: center;
						vertical-align: middle;
						line-height: 500px;  
						font-size: 40px;
					}


			#name
			{
    			width: 100%;
   				height: 69%;
				margin-top: 10%;
				background: purple;
			}

				#name #left
				{
	   				 left: 0;
	   				 width: 50%;
	   				 height: 100%;
	    			 background-color: #b0e0e6;
				}

					#name #left p 
					{
						color: black;
						text-align: center;
						vertical-align: middle;
						line-height: 500px;  
						font-size: 40px;
					}

	</style>

	<article id="main">
		<i class="tree icon massive"></i>
		<h1>NAME A TREE</h1>
	</article>
	
	<article id="about">
		<p>Name a tree is a blah blah blah blah</p>
	</article>

	<div id="explore">
  		<div id="right">
   			<p><b>EXPLORE</b></p>
 		</div>
	</div>


{% endblock %}