{% extends "frontend/base.html" %}

{% block content %}
    
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/map.css"/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC }}frontend/libs/font-awesome-4.4.0/css/font-awesome.min.css">

    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ STATIC }}frontend/libs/fontawesome-markers.min.js"></script>
    <script>
        var map;

        function placeMarker(title, location, htmlContent)
        {
            var marker = new google.maps.Marker(
            {
                map: map,
                title: title,
                position: location,
                icon: {
                    path: fontawesome.markers.TREE,
                    scale: 0.5,
                    strokeWeight: 0.2,
                    strokeColor: 'black',
                    strokeOpacity: 1,
                    fillColor: 'black',
                    fillOpacity: 0.8,
                },
                visible: true
            });

            var infowindow = new google.maps.InfoWindow(
            {
                content: htmlContent
            });

            marker.addListener('click', function()
            {
                infowindow.open(map, marker);
            });

            marker.setMap(map);
        }
        function initialize()
        {
            var style = [
                {
                    featureType: "all",
                    stylers: [
                        { hue: "#60d966" },
                        { saturation: -50 }
                    ]
                },{
                    featureType: "road.arterial",
                    elementType: "geometry",
                    stylers: [
                        { hue: "#00ffee" },
                        { saturation: 50 }
                    ]
                },{
                    featureType: "poi.business",
                    elementType: "labels",
                    stylers: [
                        { visibility: "off" }
                    ]
                }
            ];
            var styledMap = new google.maps.StyledMapType(style, {name: "Trees"});

            montrealLocation = new google.maps.LatLng(montrealLatitude, montrealLongitude);

            var mapOptions = {
                center: montrealLocation,
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControlOptions: {mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']}
            };

            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');

            // building trees using django template for loop
            {% for tree in trees %}

                var name = "{{ tree.name }}",
                    memory = "{{ tree.memory }}",
                    latitude = {{ tree.latitude }},
                    longitude = {{ tree.longitude }};

                var htmlContent = memory,
                    location = new google.maps.LatLng(latitude, longitude);

                placeMarker(name, location, htmlContent);

            {% endfor %}
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="map"></div>

{% endblock %}