{% extends "frontend/base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ STATIC }}frontend/css/home.css"/>

    <div id="about" class="section">
        <div class="wrapper">
            <!-- <i class="massive tree icon"></i> -->
            <p class="header">Name a Tree</p>
            <p>
                A tree can live from 40 to 5000 years. It is one of our major vital elements but it is hard to relate to a tree due to its inertia. This interactive website allows users to connect better with their environment and share their related memories. Simply name a tree, write something sweet and locate it.
            </p>
            <!-- <img src="{{ STATIC }}frontend/images/arrow-bouncing-down.gif"></img> -->
        </div>
    </div>
    <a href="/create/">
        <div id="explore" class="section">
            <div class="wrapper">
                <p class="header">Share a memory...</p>
            </div>
        </div>
    </a>
    <a href="/map/">
        <div id="create" class="section">
            <div class="wrapper">
                <p class="header"><b>Explore</b></p>
            </div>
        </div>
    </a>

{% endblock %}
